body {
  background-color: #f5f5f5;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
}

h1 {
  color: #555;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

h2 {
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#header-title {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 30px;
}

.container {
  background-color: #fff;
}

#header-container *:hover {
  color: orange !important;
  font-weight: bold;
  transition: color 500ms;
  text-decoration: none;
}

#main-content {
  padding: 30px;
}

#mainImg > img {
  width: 100%;
}

#mainImg {
  width: 100%;
}

#ingredients li {
  padding-bottom: 4px;
}
